.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(46,48,50);
  color: azure;

}
.header{
background-color: rgb(34, 34, 34);
height: 6rem;
display: flex;
flex-direction: row;
justify-content: space-between;
padding-top: 1.2rem;


}
.header h1{
  padding-left: 2rem;
  color: red;
}
.header .button {
  padding-top: 0.3rem;
  padding-right: 1rem;
}
.header .button .btn{
  margin-right: 0.5rem;

}

.movis-list h1{
padding: 5rem; ;
}
.formulaire{
display: grid;
place-items: center;
padding: 1rem;
height: 90vh;
}
.form-container{
  width: 100%;
  padding: 2rem;
  }
  @media (min-width: 500px) {
    .header h1{
  padding-left: 4rem;

}
  .header .button {
  padding-right: 8rem;
}
}
@media (min-width: 900px) {

  .form-container{
  width: 30rem;
  }
  .alice-carousel__next-btn{
  left: 20%;
}
.alice-carousel__prev-btn {
  right: 20%;
}
 }
 @media (min-width: 1024px) {
  .form-container{
  width: 40rem;
  }
 }
 @media (min-width: 1200px) {
  .form-container{
  width: 60rem;
  }
 }
 @media (min-width: 1600px) {
  .form-container{
  width: 80rem;
  }
 }
.alice-carousel__prev-btn-item:hover,
.alice-carousel__next-btn-item:hover {
  background-color: rgb(23, 78, 180);
  color: red;
}
.alice-carousel__dots {
  display: none;
}
.alice-carousel__prev-btn-item,
.alice-carousel__next-btn-item {
  font-size: 4rem;
  text-align: center;
  width:4rem;
  height: 6rem;
  font-weight: bold;
  transition: 0.6s ease;
  color: rgb(0, 0, 0);
  background-color: red;
  border-radius: 5px;

}
.alice-carousel__prev-btn, .alice-carousel__next-btn {
    display: inline-block;
    box-sizing: border-box;
    width: 5rem!important;



}
.alice-carousel__prev-btn-wrapper,
.alice-carousel__next-btn-wrapper{
  display: none;
  
}
.alice-carousel__next-btn{
  position: relative;
  display: block;
  bottom: 12rem;
  left: 20%;
}
.alice-carousel__prev-btn {
  position: relative;
  display: block;
  bottom: 12rem;
  right: 20%;
}
@media (min-width: 768px) {
.alice-carousel__prev-btn-wrapper,
.alice-carousel__next-btn-wrapper{
  display: inline-block;

  
}
}
@media (min-width: 900px) {
  .alice-carousel__next-btn{
  left: 20%;
}
.alice-carousel__prev-btn {
  right: 20%;
}
 }
 @media (min-width: 1024px) {
  .alice-carousel__next-btn{
  left: 40%;
}
.alice-carousel__prev-btn {
  right: 40%;
}
 }